html{
  background: #F5F5F5;
}
#loginCard{
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 310px;
    max-height: 300px;
    margin: auto;
}
#inputfield
{
  height:1em;
  margin-left: -11px;
}
#WorkorderCard
{
  margin:0;
  padding: 0;
}
.lr-no-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.text-center{
  text-align:center;
}
#paddingLeft
{
  padding-left: 29vw;
}
@media only screen and (min-width: 700px) {
  #Username{
    margin-top: 12px;
    font-size: 18px;
    position: relative;
    left: 3%;
  }
}
@media only screen and (min-width: 1024px) {
  #Username{
    margin-top: 12px;
    font-size: 18px;
    position: relative;
    left: 6%;
  }
}
@media only screen and (min-width: 1366px) {
  #Username{
    margin-top: 12px;
    font-size: 18px;
    position: relative;
    left: 9%;
  }
}
.card .card-content
{
  padding: 10px;
}
.text-weight
{
  font-weight: 300;
  font-size: 24px;
  padding-left: 24px;
}
th
{
  font-weight: 300;
}
table,th,tr,td{
  border: 1px solid black;
}
table{
   margin-top: 9px;
}
th#source
{
  width: 158px;
}
th#Product{
  width: 43%;
}
tbody a
{
  display: contents;
  color: black;
}
#padddingLeftDescription
{
  padding-left: 13vw;
}
#descriptionpage
{
  height:100vh;
  margin-top:-20px;
}
  .text-weight-header
  {
    font-size: 14px;
    color: white;
    font-weight: 300;
  }
.margin-top
{
  margin-top: 15px;
}
.right-align
{
  float: right;
  margin-right: 6%;
}
.right-align-text
{
  margin-left: 39%;
}
.right-border
{
  border-right: 1px solid black;
}
.left-align
{
  margin-left: 6%;
}
.text-weight-instructions
{
  font-size: 16px;
  font-weight: 300;
}
.left-margin
{
  margin-left: 1%
}
.right-margin
{
  margin-right: 1%;
}
.consumed-product-card
{
  margin-left:9%;
  width: 80%;
}
#Product-table
{
  width: 20%;
}
#card-position
{
  float: none;
}
.padding-left
{
  padding-left: 3%;
padding-right: 18%;
padding-bottom: 2px;
padding-top: 2px;
margin-left: 2%;
}
@media only screen and (max-width: 1024px) {
  #descriptionpage{
    height: 109vh;
    position: fixed;
  }
}
.Black{
color: black;
}
.consumed-product-card-testing
{
  margin-left:1%;
  width: 98%;
}
#Product-testing
{
width: 21%; 
}
