<div>
  <div class="card" id="WorkorderCard">
    <div class="row card-content center">
      <span class="col s2">
        <div class="center-align push-down">
                    {{#link-to 'workorders'}}<button type="submit" class="btn waves-effect white-text red lighten-2">Back</button>{{/link-to}}
        </div>
      </span>
      <b><span class="col s6 card-title" id="padddingLeftDescription">Sintering</span></b>
      <span class="col s2" id="Username">Prashant</span>
      <span class="col s2">
        <div class="center-align push-down">
                    {{#link-to 'index'}}<button type="submit" class="btn waves-effect white-text red lighten-2">Logout</button>{{/link-to}}
        </div>
      </span>
    </div>
  </div>
  <div class="lime darken-1" id="descriptionpage">
      <div class="row">
        <div class="col s6 margin-top">
          <div class="col s4">
            <b><span class="text-weight-header Black">To Produce:</span></b>
          </div>
          <div class="col s8">
                  <span class="text-weight-header Black">20190270M AWG 20/19/32 SPC (0.5 micron
      plating), PTFE Insulation Type E (600 V) 2 such
      core (Red-Black) twisted together Kapton Isolator
      SPC Braid PTFE Jacket 0.25 RTI, OD 3.6 mm; 32
      g/m (not for general sales)</span>
          </div>
        </div>
        <div class="col s6 margin-top">
          <div class="col s8  right-border">
            <div class="right-align">
              <div>
                <b><span class="text-weight-header Black">Current Quantity:</span></b>
              </div>
              <div>
                <b><span class="text-weight-header Black">Original Quantity:</span></b>
              </div>
              <div>
                <b><span class="text-weight-header Black">Rejected Quantity:</span></b>
              </div>
              <div>
                <b><span class="text-weight-header Black">Current Lot Due Date:</span></b>
              </div>
            </div>
          </div>
          <div class="col s4">
            <div class="left-align">
              <div>
                <b><span class="text-weight-header Black">252.500 m</span></b>
              </div>
              <div>
                <b><span class="text-weight-header Black">252.500 m</span></b>
              </div>
              <div>
                <b><span class="text-weight-header Black">0.00</span></b>
              </div>
              <div>
                <b><span class="text-weight-header Black">18/10/2018</span></b>
              </div>
           </div>
          </div>
        </div>
      </div>
      <div class="card right-margin left-margin">
        <div class="row">
          <div class="col s4">
            <b><span class="text-weight-instructions">Manufacturing Instructions:</span></b>
          </div>
          <div class="col s8">

          </div>
        </div>
     </div>
     <div class="card right-margin left-margin">
       <div class="row">
         <div class="col s3">
           <b><span class="text-weight-instructions">Remarks:</span></b>
         </div>
         <div class="col s9">

         </div>
       </div>
    </div>

    <div>
      <table class="striped consumed-product-card">
        <thead class="white">
          <tr>
              <th id="Product">Product</th>
              <th>Lot No.</th>
              <th>Required Diameter</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>SO5887:MO28470</td>
            <td>252.500 m</td>
            <td>252.500 m</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col s6">
        <div class="col s8 right-align margin-top">
          <b><span class="text-weight-header Black">Finished Quantity:</span></b>
        </div>
        <div class=" col s4  margin-top white" id="card-position">
          282.800m
        </div>
      </div>
      <div class="col s6">
        <div class="margin-top">
          <b><span class="text-weight-header Black">Lot No:</span></b>
          <span class="white padding-left">282.800 m</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align push-down">
  			{{#link-to 'workorders'}}<button type="submit" class="btn waves-effect white-text default-color-button">Move</button>{{/link-to}}
  		</div>
    </div>
  </div>
</div>
