<div>
    <div class="card" id="WorkorderCard">
      <div class="row card-content center">
  			<b><span class="col s8 card-title" id="paddingLeft">Wrapping</span></b>
        <span class="col s2">Prashant</span>
        <span class="col s2"><div class="center-align push-down">
      								{{#link-to 'index'}}<button type="submit" class="btn waves-effect white-text">Logout</button>{{/link-to}}
      		</div></span>
  		</div>
    </div>
</div>
